html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #F2F2F2;
	color: #737372;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.GameBoard{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
	padding: 15px;
}

.game-field{
	display: flex;
  border: 1px solid #8C8C8C;
	align-items: center;
	justify-content: center;
	font-size: 3em;
}

.display{
  width: 100vw;
  height: 100px;
	display: flex;
	margin-bottom: 1px;
	align-items: center;
	justify-content: center;
	font-size: 40px;
}

.game{
  display: flex;
  width: 100vw;
  height: 400px;
  align-items: center;
  justify-content: center;
	flex-direction: column;
}

.ResetButton{
	display: none;
}

button{
  border: 1px solid #8C8C8C;
	border-radius: 10px;
	font-size: 1.5em;
	color: #737372;
}

button:hover{
	cursor: pointer;
	background-color: #8C8C8C;
	color: #F2F2F2;
}